.flex{
    display: flex;
}

.flex-columnas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-columnas2{
    display: flex;
    flex-direction: column;
}

.margin-0{
    margin: 0;
    padding: 0;
}

.tamMaceta{ 
    height: 100px;
    width: 100px;
    
}

.tamPlanta{
    height: 150px;
    width: 80px;
}

.fontPlanta{
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #05386b;
}

.carrusel{
    padding-left: 2%;
    padding-right: 2%;
}

.evaluacion{
    margin-top: 5%;
    border: 2px;
    border-color: rgba(163,163,163, 0.4);
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 30px;
    grid-auto-rows: minmax(50px, auto);

}

.negritas{
    font-weight: 600;
}

.indicadores{
    height: 25px;
    width: 25px;
}

#textoAlerta{
    display: inline;
    font-size: small;
}

.p-r{
    padding-right: 2px;
}

#textoNota{
    font-size: x-small;
    color: rgba(163,163,163, 0.8);;
}

#ev1{
    display: none;
}

#ev2{
    display: none;
}

.contentEv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tamMonitoreo{
    height: 70px;
    width: 70px;
    margin-bottom: 4%;
}