
.cajasTexto{
    border:none;
    width: 20rem; /*Si se requiere redimensionar, utilizar una nueva clase*/
    border-bottom: 2px solid black;
    margin: 3% 3%;
    padding: 2% 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}
.cajasTexto:focus{
    outline:none;
    border-bottom: 3px solid green;
} 
.botones{
    background-color: #278650;
    border: 0;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    font-family: 'Cairo', sans-serif;
}

