body {
  overflow-x: hidden;
}

/* ##################################################################################################################################################*/
/*#################################################ESTILOS PARA LA PAGINA DE INICIO##################################################################*/
/* ##################################################################################################################################################*/

/* Elementos */
.texto {
  font-family: "Oswald";
}
.botonColor {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
  font-weight: 500;
}
.botonColor:hover {
  background-color: white;
  border-color: white;
  color: black;
}
.botonColor:focus {
  background-color: white;
  border-color: white;
  color: black;
}
header.inicio h1,
header.inicio .h1 {
  font-size: 2.25rem;
}
.logoImagen {
  width: 10rem;
  height: 10rem;
}

/* Ajusta los tamaños de los elementos en pantalla*/
@media (min-width: 200px) {
  header.inicio {
    height: 100vh;
    min-height: 40rem;
    padding-top: 3.5rem;
    padding-bottom: 0;
  }
  header.inicio p {
    font-size: 1.15rem;
  }
  header.inicio h1,
  header.inicio .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1900px) {
  header.inicio h1,
  header.inicio .h1 {
    font-size: 3.5rem;
  }
}
/* Estilos para el background de pagina de inicio */
header.bg-inicio {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../img/bg-inicio.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
/* ##################################################################################################################################################*/
/* ##################################################################################################################################################*/

/* ##################################################################################################################################################*/
/*#################################################ESTILOS PARA LOS FORMULARIOS##################################################################*/
/* ##################################################################################################################################################*/
.tamLogo{
  width: 4rem;
  height: 4rem;
}

.cajasTexto{
  border:none;
  border-bottom: 1px solid black;
  font-size: 15px;
  margin-top: 2%;
}
.cajasTexto:focus{
  outline:none;
  border-bottom: 3px solid green;
} 
.botones{
  background-color: #278650;
  border: 0;
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
  color:white;
  font-weight: 700;
  font-family: 'Cairo', sans-serif;
}

body{
  background-color: #F6F6F6;  
}

/* ##################################################################################################################################################*/
/*#################################################ESTILOS PARA SIDEBAR##################################################################*/
/* ##################################################################################################################################################*/

#sidebar-btn{
  position: absolute;
  left: 10px;
  width: 80px;
  height: 80px;
  display: block;
}

.afuera::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

#sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  max-height: 1080px;
  transition: all 500ms linear;
  left: -300px;
  top: 0;
  z-index: 2;
  background-color: #278650;
}

.logo img, .sdf img{
  width: 80px;
  height: 80px;
  cursor: pointer;
}


#superior{
  position: relative;
  top: 10px;
  width: 300px;
  height: auto;
  color: white;
  text-align: center;
  margin-top: 12%;
}

#inferior{
  position: absolute;
  width: 300px;
  height: auto;
  color: white;
  text-align: center;
  top: 80%;
}

#superior a, #inferior a{
  display: block;
  font-family: "Oswald";
  font-size: 35px;
  color: white;
  text-decoration: none;
}

#sidebar.active{
  left: 0px;
}
  
